@model Employee
@{ 
    ViewBag.Title = "Create Employee";
}
<form asp-controller="Home" asp-action="Create" method="post" class="mt-2">
    <div class="row form-group">
        <div class="col-sm-4">
            <label asp-for="FullName"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="FullName" class="form-control"/>
            <span asp-validation-for="FullName" style="color:red"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-4">
            <label asp-for="Email"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email"style="color:red"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-4">
            <label asp-for="Department"></label>
        </div>
        <div class="col-sm-10">
            <select asp-for="Department" class="custom-select" asp-items="@Html.GetEnumSelectList<Department>()"> </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-12">
           <button type="submit" class="btn btn-primary">Create</button>
           <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Back</a>
        </div>
    </div>
</form>